* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  padding: 0 16px;
  margin: auto;
}

.nav {
  padding: 10px 0;
  background-color: #9370DB;
}

.nav a {
  text-decoration: none;
  color: white;
  display: flex;
}

.nav a:hover {
  opacity: 0.6;
}

.nav a img {
  margin-right: 5px;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://images.unsplash.com/photo-1584209414038-cb585b923c3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&w=1000&q=80');
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 42px;
}

.grid {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  flex-wrap: wrap;
}

.card {
  display: flex;
  max-width: 32%;
  width: 100%;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-bottom: 30px;
}

.card a {
  color: inherit;
  text-decoration: none;
}

.card a:hover {
  opacity: .8;
}

.card-info {
  padding: 20px;
}

.card-info div {
  margin-top: 10px;
}

.card-image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-date {
  color: lightslategray;
  font-weight: 300;
  font-size: 14px;
}

.post-details {
  display: flex;
  flex-direction: column;
}

.post-image {
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.post-content {
  margin-top: 40px;
}

.post-content h5 {
  margin-bottom: 20px;
}

@media(max-width: 768px) {
  .hero {
    padding: 0 5%;
    font-size: 38px;
    text-align: center;
  }

  .card {
    margin: 0 auto 30px;
    max-width: 95%;
  }
}
